.sticky {
	display: block;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.home.page-template-page-wide {
	.entry-content {
		margin-top: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.container-fluid .entry-content > {
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ul,
	img,
	.quantar__catalog,
	.wp-block-media-text,
	.wp-block-columns,
	.wp-block-cover > .wp-block-cover__inner-container,
	.wp-block-gnosis-block-carousel .wp-block-cover > .wp-block-cover__inner-container {
		@extend .container;
	}
}

.home .container-fluid .entry-content > {
	.wp-block-gnosis-block-carousel:first-child .item .wp-block-cover {
		// min-height: calc(100vh - 96px) !important;
		min-height: 100vh !important;
	}
}

.home .container-fluid .entry-content > {
	.wp-block-media-text,
	.wp-block-columns,
	.wp-block-cover {
		min-height: 100vh;
	}
}

.entry-content > {
    .quantar__catalog,
    div[class^="wp-block-"]:not(.wp-block-gnosis-block-carousel):not(.wp-block-cover) {
		margin-bottom: 24px;
    }
}

html {
	max-height: 100vh;
	overflow-y: scroll;
	// scroll-snap-type: y mandatory;

	.entry-content > div {
		scroll-snap-align: center;
		position: relative;
	}

}

.entry-content {
	height: 100%;
}

.site-main {
	min-height: calc( 100% - 45px );
	min-height: calc( 100vh - 45px );
}