.wp-block-media-text,
.wp-block-group {
    background-color: #ffffff;
}

.wp-block-column {
    position: relative;
}

.wp-block-columns.align--btns__bottom {
    margin-bottom: 46px;
}

.wp-block-columns.align--btns__bottom .wp-block-column > div:last-child  {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.wp-block-columns.align--btns__bottom .wp-block-column > div:last-child .wp-block-button {
    margin-bottom: 0;
}

.wp-block-group form {
    padding-right: 24px;
    padding-left: 24px;
}

.wp-block-media-text.shadow-border h2 {
    padding-top: 24px;
}

.wp-block-group.shadow-border {
    padding-top: 24px;
}