.mt-1 { margin-top: 8px; }
.mt-2 { margin-top: 16px; }
.mt-3 { margin-top: 24px; }
.mt-4 { margin-top: 32px; }

.mb-1 { margin-bottom: 8px; }
.mb-2 { margin-bottom: 16px; }
.mb-3 { margin-bottom: 24px; }
.mb-4 { margin-bottom: 32px; }

.wp-block-media-text,
.wp-block-group {
    background-color: #ffffff;
}

.wp-block-column {
    position: relative;
}

.wp-block-columns.align--btns__bottom {
    margin-bottom: 46px;
}

.wp-block-columns.align--btns__bottom .wp-block-column > div:last-child  {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.wp-block-columns.align--btns__bottom .wp-block-column > div:last-child .wp-block-button {
    margin-bottom: 0;
}

.wp-block-group form {
    padding-right: 24px;
    padding-left: 24px;
}

.wp-block-media-text.shadow-border h2 {
    padding-top: 24px;
}

.wp-block-group.shadow-border {
    padding-top: 24px;
}

.wp-block-create-block-gnosis-container-block {
    margin-bottom: 24px;
}

.make-transparent .wp-cover-block{
    background: transparent;
}

.position-absolute {
    position: absolute;
    top: 0;
}

.hide-nav .owl-dots,
.hide-nav .owl-nav {
    display: none;
}

.wp-cover-block .wp-block-create-block-gnosis-container-block {
    margin-bottom: 0;
}

.wp-cover-block .owl-carousel .wp-cover-block {
    min-height: auto !important;
}

.wp-block-gnosis-block-carousel {
    overflow: hidden;
}

.owl-item .owl-loading {
    height: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .wp-cover-block .owl-carousel .wp-cover-block {
        min-height: 0 !important;
    }

    .wp-block-columns.align--btns__bottom {
        margin-bottom: 16px;
    }
    
    .wp-block-columns.align--btns__bottom .wp-block-column > div:last-child  {
        position: relative;
        bottom: 0;
    }

    .wp-block-cover .wp-block-cover__inner-container {
        width: 100%;
        max-width: none;
    }

    .site-footer .columns {
        align-items: center;
    }

    .wp-block-cover {
        min-height: 65vh !important;
    }

    .offset-top-30 {
        margin-top: -5;
    }
    
    .offset-top-60 {
        margin-top: -10px;
    }
    
    .offset-top-90 {
        margin-top: -15px;
    }
  }